In [2]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')

First, check if any overlap in the UniProt protein IDs.

In [8]:
dis_fname = 'disordered_data_annotation.csv'
ord_fname = 'ordered_data_annotation.csv'
ptm_fname = 'phosphositeplus_annotation.csv'

dis_df = pd.read_csv(dis_fname)
ord_df = pd.read_csv(ord_fname)
ptm_df = pd.read_csv(ptm_fname)

In [10]:
dis_df

      protein_id AA  position  disordered
0         P49913  L       134           1
1         P49913  L       135           1
2         P49913  G       136           1
3         P49913  D       137           1
4         P49913  F       138           1
...          ... ..       ...         ...
27468     P16471  A       593           1
27469     P16471  N       594           1
27470     P16471  F       595           1
27471     P16471  T       596           1
27472     P16471  A       597           1

[27473 rows x 4 columns]

In [9]:
ptm_df

,protein_id,AA,position,ac,ac_reg,ga,gl,gl_reg,m,m_reg,p,p_reg,sm,sm_reg,ub,ub_reg
0,A0A024R5B6,K,43,0,0,0,0,0,0,0,0,0,0,0,1,1
1,A0A024RBG1,K,128,0,0,0,0,0,0,0,0,0,0,0,1,0
2,A0A024RBG1,K,134,0,0,0,0,0,0,0,0,0,0,0,1,0
3,A0A024RBG1,K,143,0,0,0,0,0,0,0,0,0,0,0,1,0
4,A0A024RBG1,K,5,0,0,0,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369206,Q9Y6Z7,K,97,1,0,0,0,0,0,0,0,0,0,0,0,0
369207,Q9Y6Z7,S,141,0,0,0,0,0,0,0,1,0,0,0,0,0
369208,Q9Y6Z7,T,155,0,0,0,0,0,0,0,1,0,0,0,0,0
369209,Q9YNA8,S,465,0,0,0,0,0,0,0,1,0,0,0,0,0
369210,S5FZ81,S,376,0,0,0,0,0,0,0,1,0,0,0,0,0

In [17]:
ptm_ids = set(ptm_df.protein_id.unique())
dis_ids = set(dis_df.protein_id.unique())
ord_ids = set(ord_df.protein_id.unique())
print('Unique PTM IDs: {}.\nUnique disordered IDs: {}.\nUnique ordered IDs: {}.'.format(
    len(ptm_ids), len(dis_ids), len(ord_ids)))

Unique PTM IDs: 20938.
Unique disordered IDs: 232.
Unique ordered IDs: 1471.

In [21]:
ptm_dis_ids = ptm_ids.intersection(dis_ids)
dis_ord_ids = dis_ids.intersection(ord_ids)
ord_ptm_ids = ord_ids.intersection(ptm_ids)
ptm_dis_or_ord_ids = ptm_ids.intersection(dis_ids.union(ord_ids))
print('PTM-disordered IDs: {}.\ndisordered-ordered IDs: {}.\nordered-PTM IDs: {}\nPTM-[disordered U ordered] IDs: {}.'.format(
    len(ptm_dis_ids), len(dis_ord_ids), len(ord_ptm_ids), len(ptm_dis_or_ord_ids)))

PTM-disordered IDs: 227.
disordered-ordered IDs: 63.
ordered-PTM IDs: 1417
PTM-[disordered U ordered] IDs: 1582.